<%= form_tag(notify_password_users_path, :id => 'forgot_password',:style => 'display:none') do %>
    <div class="field">
      <%= label_tag :email, 'Your email address' %><br />
      <%= text_field_tag :email %>
    </div>
    <div class="actions">
      <%= submit_tag 'Send' %> or
      <%= link_to 'Cancel', '#', :onclick => "$('#forgot_password').slideUp()" %>
    </div>
<% end %>