<h1>Login</h1>
<%= form_tag session_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag 'Login' %>
      <%= link_to "Cancel", root_path %>
    </div>
    <div class="field">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %>
    </div>
<% end %>
<div class="forgotten_password">
      <%= link_to "Forgot my password", '#',
                  :onclick => "$('#password_reset').slideDown()" %>
      <br /><br />
      <%= render :file => 'password_resets/new'%>
</div>


 <!--link_to "forgotten password?", new_password_reset_path -->


