<h1>Login</h1>
<%= form_tag session_path do %>
    <div class="field">
      <%= label_tag t('general.email') %>:<br />
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag t('general.password') %>:<br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag t('general.login') %>
      <%= link_to t('general.link_to.cancel'), root_path %>
    </div>
    <div class="field">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag t('general.remember_me') %>
    </div>
<% end %>
<div class="forgotten_password">
      <%= link_to t('general.link_to.forgot_password'), '#',
                  :id => "forgot_my_password" %>
      <br /><br />
      <%= render :file => 'password_resets/new'%>
</div>


 <!--link_to "forgotten password?", new_password_reset_path -->


