<%= form_tag password_resets_path, :method => :post, :id => "password_reset",:style => 'display:none' do %>
  <div class="field">
    <%= label_tag "Your email address:" %>
    <br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %>
   or <%= link_to "Cancel", '#' , :onclick => "$('#password_reset').slideUp()" %>
  </div>
<% end %>


