<%= div_for comment do %>

<%= comment.name %> &lt;<%= comment.email %>&gt; said:
<br />
<%= comment.body %>
&nbsp;&nbsp;&nbsp;
<br />
<span class='actions'>
<%= link_to 'Delete', [@job, comment], :confirm => 'Are you sure?', :method => :delete %>
</span>

<br /><br /><br />

<% end %>