<br />
<%= form_for([@job, @job.comments.new], :remote => true,
             :html => {:style => 'display: none;'}) do |f| %>
    <div class="field">
      <%= f.label t('general.name') %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t('general.last_name') %><br />
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label t('general.email') %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label t('general.comment') %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <br />
      <%= f.submit t('general.submit') %> &nbsp;<%= t('general.or') %> &nbsp;
      <%= link_to t('general.link_to.cancel'), '#',
                  :id => "new_comment_cancel" %>
    </div>
<% end %>