<html>
<body>
<p>
<%= t('notifier.email_friend.one_of_your_friend') %>, <%= @sender_name %>,
<%= t('notifier.email_friend.you_might_like_this') %>.
</p>
<p>
<strong><%= @job.title %></strong>
  <%= link_to job_url(@job, :host => 'www.isgetir.com'), job_url(@job, :host => 'www.isgetir.com') %>
</p>
</body>
</html>