<html>
<body>
<p>
<%= t('notifier.job_added.job_added_with_this_title') %>: <i><%= @job.title %></i>.
<br /><br />
<%= t('notifier.job_added.job_body') %>: "<%= @job.body %>"
<br /><br />
<%= t('notifier.job_added.posted_user_email_address') %>: <%= @job.user.email %>
<br /><br />
<%= t('notifier.job_added.to_read_the_posted_job') %> <%= link_to @job.title, job_url(@job, :host => 'www.isgetir.com') %>
</p>
</body>
</html>