<%= form_for @job do |f| %>
  <% if @job.errors.any? %>
    <div class="errorExplanation">
      <h2><%= pluralize(@job.errors.count, t("jobs.form_partial.plurilazie.error"),
                                        t("jobs.form_partial.plurilazie.error")) %>!
        <br /><br />
        <%= t('jobs.form_partial.error_explanation')%>:</h2>
        <ul>
           <% @job.errors.full_messages.each do |msg| %>
             <li>
               <b>
                 <%= msg %>
               </b>
             </li>
          <%end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('jobs.index.table.title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t('jobs.index.table.location') %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <br />
    <h2><%= t('general.references') %></h2>
    <%= f.fields_for :references do |builder| %>
       <%= render 'reference', :f => builder %>
    <% end %>
  </div>

   <div class="field1">
     <br /><br /><br />
     <%= f.label t('jobs.index.table.category') %><br />
     <%= select("job", "category_id", Category.all.sort.collect {|p| [ p.name, p.id ] },
                {:include_blank => 'None'}, {:class => "select_box"}) %>
   </div>

   <div class="field1">
     <br /><br /><br />
     <%= f.label t('jobs.index.table.body') %><br />
     <%= f.text_area :body %>
   </div>
<!--
  <div class="field">
    f.label l(:published_at) %><br />
    f.datetime_select l(:published_at) %>
  </div>
  <div class="field">
    f.label :created_at %><br />
     f.datetime_select :created_at %>
  </div>
-->
  <div class="field1 actions">
    <%= f.submit t('general.submit') %> &nbsp; <%= t('general.or') %> &nbsp;
    <%= link_to t('general.link_to.cancel'), @job %>
  </div>
<% end %>


