<%= form_for @job do |f| %>
  <% if @job.errors.any? %>
    <div class="errorExplanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><b><%= msg %></b></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <h2>References</h2>
    <%= f.fields_for :references do |builder| %>
       <%= render 'reference', :f => builder %>
    <% end %>
  </div>

   <div class="field1">
     <br /><br /><br />
     <%= f.label "Categories" %><br />
     <%= select("job", "category_id", Category.all.sort.collect {|p| [ p.name, p.id ] },
                {:include_blank => 'None'}, {:class => "select_box"}) %>
   </div>

   <div class="field1">
     <br /><br /><br />
     <%= f.label :body %><br />
     <%= f.text_area :body %>
   </div>
  <!--
  <div class="field">
    <%= f.label :published_at %><br />
    <%= f.datetime_select :published_at %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  -->
  <div class="field1 actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>


