<%= div_for job do %>
    <h3>Job</h3>
    <%= job.title %>
    <br />
    <%= simple_format job.body %>
    <br />
    <%= job.location %>
    <br />
    <%= job.created_at.to_date %>
    <br />
    <%= @category %>
    <br />

    <span class='actions'>
      <% if job.owned_by? current_user %>
        <span class='actions'>
            <%= link_to "Edit", edit_job_path(job) %>
            <%= link_to "Delete", job, :confirm => "Are you sure?", :method => :delete %>
        </span>
      <% end %>
    </span>

    <br /><br /><br />
    <h3>References</h3>
    <% for reference in job.references  %>
        <li>Name:<%=reference.name  %></li>
        <li>Last Name: <%=reference.lastname  %></li>
        <li>Phone: <%=reference.phone  %></li>
        <li>Cell: <%=reference.cell  %></li>
        <li>E-Mail: <%=reference.email  %></li>
        <br /><br />
    <% end %>

<% end %>