<%= div_for job do %>
    <h3>Job</h3>
    <b><%= label_tag 'Title: '%></b><%= job.title %>
    <br />
    <b><%= label_tag 'Job: ' %></b><%= simple_format job.body %>
    <br />
    <b><%= label_tag 'Location: ' %></b><%= job.location %>
    <br />
    <b><%= label_tag 'Created at: ' %></b><%= job.created_at.to_date %>
    <br />
    <b><%= label_tag 'Category: ' %></b><%= @category %>
    <br />

    <span class='actions'>
      <% if job.owned_by? current_user %>
        <span class='actions'>
            <%= link_to "Edit", edit_job_path(job) %>
            <%= link_to "Delete", job, :confirm => "Are you sure?", :method => :delete %>
        </span>
      <% end %>
    </span>

    <br /><br /><br />
    <h3>References</h3>
    <% for reference in job.references  %>
        <li><b>Name:</b><%=reference.name  %></li>
        <li><b>Last Name:</b><%=reference.lastname  %></li>
        <li><b>Phone:</b><%=reference.phone  %></li>
        <li><b>Cell:</b><%=reference.cell  %></li>
        <li><b>E-Mail:</b><%=reference.email  %></li>
    <% end %>

    <span class='actions'>
      <% if job.owned_by? current_user %>
        <span class='actions for_black_font_link'>
            <%= link_to "Edit", edit_job_path(job)%>
            <%= link_to "Delete", job, :confirm => "Are you sure?", :method => :delete %>
        </span>
      <% end %>
    </span>
    <br/><br/><br/>
<% end %>