<div class="field2">
  <%= f.label :name, "Name" %><br />
  <%= f.text_field :name %><br />
  <%= f.label :lastname, "Last Name" %><br />
  <%= f.text_field :lastname %><br />
  <%= f.label :phone, "Phone" %><br />
  <%= f.text_field :phone %><br />
  <%= f.label :cell, "Cell" %><br />
  <%= f.text_field :cell %><br />
  <%= f.label :email, "E-mail" %><br />
  <%= f.text_field :email %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Reference" %>
</div>