
 <table class="stripeMe">
<div class='sort_by'>
  <!-- t('general.sort_by') -->
  <% if @jobs.blank?  %>

      <%= t('jobs.index.table.category') %>
      <%= t('jobs.index.table.title') %>
      <%= t('jobs.index.table.location') %>
      <%= t('jobs.index.table.body') %>
      <%= t('jobs.index.table.created_at') %>



  <% else  %>

      <!--sortable methoda gonderilen :class gereksiz ama sonra lazim olabilir diye silmiyorum.-->
      <!--sortable application_helper'da defined-->
      <!-- asagida sortable function call'dan sonra gelen parantez son derece onemli; o parantez
           olmazsa kod I18n'nin t methodunu invoke etmiyor column basliklari sirf ingilizce output oluyor. -->


      <tr class="sort_by_links_tr">
          <th id='remove_category_anchor' class='kategori'><%= sortable('category_id', t('jobs.index.table.category'), :class=>"sort_by_links") %>
          </th>


           <th class="for_after_category_removed title"><%= sortable('title', t('jobs.index.table.title'), :class=>"sort_by_links") %>
           </th>

           <th class="for_after_category_removed location"><%= sortable('location', t('jobs.index.table.location'), :class=>"sort_by_links" ) %>
           </th>

           <th class="for_after_category_removed"><%= sortable('body', t('jobs.index.table.body'), :class=>"sort_by_links") %>
           </th>

           <th class="for_after_category_removed date"><%= sortable('created_at', t('jobs.index.table.created_at'), :class=>"sort_by_links") %>
           </th>

      </tr>
  <% end  %>
</div>

  <% if !@jobs.blank? %>
      <% @jobs.each do |job| %>
          <tr>
          <td>
          <% if !job.category.nil? %>
              <% if I18n.locale == :en %>
                  <%= job.category.name %>
              <% elsif I18n.locale == :tr %>
                  <%= job.category.isim %>
              <% end %>
          <% else %>
              ---
          <% end %>
          </td>

          <td><%= truncate(job.title, :length => 10, :omission => t('general.continued')) %></td>
          <td><%= truncate(job.location, :length => 10, :omission => t('general.continued')) %></td>
          <td class="tabler_body_td" ><%= truncate(job.body, :length => 40, :separator => ' ', :omission => t('general.continued') )%></td>
          <td><%= time_ago_in_words(job.created_at) %> <%= t('general.time_ago_in_words') %></td>

          <td>
          <%= link_to t('general.link_to.show'), job, {:title => "", :class => "show"} %>
          </td>

          <% if job.owned_by? current_user  %>
          <td class="member_specific_edit"><%= link_to t('general.edit'), edit_job_path(job), {:class => "visited"} %></td>
          <td class="member_specific_delete">
              <%= link_to t('general.delete'), job, confirm: t('general.sure'), method: :delete, :class => "visited" %>
            </td>
          <% else %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          <% end %>
            </tr>
      <% end %>
  <% end %>

   </table>


<br />
<!-- will_paginate(@jobs, :params => { :controller => "jobs", :action => "search_by_category" })-->
<%= will_paginate_with_i18n(@jobs, :class => 'pagination for_all_listing') %>
<!-- will_paginate_with_i18n(@jobs, :class => 'pagination for_select_box_listing') -->
<%= will_paginate_with_i18n(@jobs, :class => 'pagination for_autocomplete_listing') %>

<br />
