<h1>Listing skills</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Reference</th>
    <th>Body</th>
    <th>Published at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.title %></td>
    <td><%= job.location %></td>
    <td><%= job.reference %></td>
    <td><%= job.body %></td>
    <td><%= job.published_at %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skill', new_job_path %>
