<div class = 'index'>
<%= render "users/header" %>

<%= image_tag "chef.jpg", :size => "75x75", :alt => "Resim" %>
<%= image_tag "girl.jpg", :size => "75x75", :alt => "Resim" %>
<%= image_tag "graduate.jpg", :size => "75x75", :alt => "Resim" %>
<%= image_tag "man.jpg", :size => "75x75", :alt => "Resim" %>
<%= image_tag "group.jpg", :size => "75x75", :alt => "Resim" %>


<h1 class="listing_jobs" style="text-align: center;"><%= t('general.h1.listing_jobs') %></h1>
</div>

<hr>

<!--<div id="jobs">
<%= render @jobs %>
</div>-->

<table align="center">
  <tr>
    <th><%= t('jobs.index.table.title') %></th>
    <th><%= t('jobs.index.table.category') %></th>
    <th><%= t('jobs.index.table.location') %></th>
    <th><%= t('jobs.index.table.body') %></th>
    <th><%= t('jobs.index.table.created_at') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @jobs.each do |job| %>
  <tr>
    <td><%= job.title %></td>
    <% if !job.category.nil? %>
        <td><%= job.category.name %></td>
    <% else %>
        <td> other </td>
    <% end %>
    <td><%= job.location %></td>
    <td><%= truncate(job.body, :length => 30, :omission => t('general.jobmenu.continued') ) %></td>
    <td><%= time_ago_in_words(job.created_at.to_date) %> <%= t('general.jobmenu.time_ago_in_words') %></td>
    <td><%= link_to t('general.jobmenu.show'), job, {:class => "show"} %></td>
    <% if job.owned_by? current_user  %>
        <td><%= link_to t('general.jobmenu.edit'), edit_job_path(job), {:class => "visited"} %></td>
        <td><%= link_to t('general.jobmenu.destroy'), job, confirm: 'Are you sure?', method: :delete, :class => "visited" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<hr>

