<div class='vr'><%= image_tag 'column.png', :size => '100x500' %></div>



<div class = "captcha_alternatives">
<%= @time_too_fast.nil? ? '' : @time_too_fast%>
<%= @hidden.nil? ? '' : @hidden %>
</div>




<!--<div id='notice'>
 < render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
</div>-->

<%= render @job %>

<%= link_to t('jobs.show.link_to.email_a_friend'), '#',
        :id => "show_link_to_email_friend" %>
<br /> <br />

<%= render 'jobs/notify_friend' %>
<br />



<h2>
  <%= t('general.comments') %>
</h2>



<div id="comments">
    <%= render @job.comments %>
</div>

<br />

<!-- asagida :format => :js i cikarsanda program aynen calisiyor -->
<%= link_to t('jobs.show.link_to.new_comment'), new_job_comment_path(@job, :format => :js),
:remote => true, :id => 'new_comment_link' %>

<br /><br />



<%= hidden_field_tag(:hidden, '', :class => "hidden_field_tag") %>



<%= link_to t('jobs.show.link_to.jobs_list'), jobs_path %>



<br /><br /><br />
