<%= form_for(@user, :builder => TidyFormBuilder ) do |f| %>
    <% if @user.errors.any? %>
        <br />
        <div class="errorExplanation">
          <h3>
            <%= pluralize(@user.errors.count,
                            t("general.pluralize.error"), t("general.pluralize.error")) %>
            <% if @user.errors.count > 1 %>
                <%= t('general.error_explanations')%>:
            <% else %>
                <%= t('general.error_explanation')%>:
            <% end %>
          </h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><b><%= msg %></b></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <!-- f.label t('general.email') %>:<br />  -->
      <%= f.text_field :email, {:i18n => t('general.email'),
                                :required => true, :tooltip => t('general.class_required') } %>
    </div>
    <div class="field">
      <!-- f.label t('general.password') %>:<br />  -->
      <%= f.password_field :password, {:i18n => t('general.password'),
                                :required => true, :tooltip => t('general.class_required') } %>
    </div>
    <div class="field">
        <!-- t('general.password_confirmation') %>:<br /> -->
      <%= f.password_field :password_confirmation, {:i18n => t('general.password_confirmation'),
                                :required => true, :tooltip => t('general.class_required') } %>
    </div>
    <br />



      <%= hidden_field_tag(:hidden, '', :class => "hidden_field_tag") %>

      <%= hidden_field_tag :category_id, params[:category_id] %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= hidden_field_tag :keyword, params[:keyword] %>
      <%= hidden_field_tag :page, params[:page] %>

    <div class="submit_actions">
      <br /><br />
      <%= f.submit t('general.submit') %>
      &nbsp;<%= t('general.or') %> &nbsp;
      <%= link_to t('general.link_to.cancel'), jobs_path %>
    </div>
<% end %>




