<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div class="errorExplanation">
          <h2>
            <%= pluralize(@user.errors.count,
                            t("general.pluralize.error"), t("general.pluralize.error")) %>
            <% if @user.errors.count > 1 %>
                <%= t('general.error_explanations')%>:
            <% else %>
                <%= t('general.error_explanation')%>:
            <% end %>
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><b><%= msg %></b></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <h2 class="password_reset_h1"><%= t('general.change_password') %></h2>


    <br />
    <div class="field">
      <%= f.label t('general.email') %>:<br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label t('general.password') %>:<br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
        <%= t('general.password_confirmation') %>:<br />
      <%= f.password_field :password_confirmation %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit t('general.submit') %>
      &nbsp;<%= t('general.or') %> &nbsp;
      <%= link_to t('general.link_to.cancel'), jobs_path %>
    </div>
<% end %>


