<div id="header">

  <%= language_selector %>
  <br />
  <div class="menu">
    <% if logged_in? %>
        <%= link_to t("general.menu.new_job"), new_job_path %> |
        <%= link_to t("general.menu.edit_password"), edit_user_path(current_user) %> |
        <%= link_to t("general.menu.logout"), logout_path %>
    <% else %>
        <%= link_to t("general.menu.create_user"), new_user_path %> |
        <%= link_to t("general.menu.login"), login_path %>
    <% end %>
    <% if logged_in? && is_admin? %>
      | <%= link_to t('general.users'), user_admin_path %>
    <% end %>
  </div>
</div>
  <br /><br />

  <!-- link_to t('general.link_to.root_path'), root_path, :id => 'link_to_below_search' -->
  <br />



