
<div class="change_password">

  <% if !@user.nil? %>

     <% if @user.errors.any? %>
          <!-- puts "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #{@user.errors.to_s}" -->
        <br />
        <div class="errorExplanation">
          <h3>
            <%= pluralize(@user.errors.count,
                            t("general.pluralize.error"), t("general.pluralize.error")) %>
            <% if @user.errors.count > 1 %>
                <%= t('general.error_explanations')%>:
            <% else %>
                <%= t('general.error_explanation')%>:
            <% end %>
          </h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><b><%= msg %></b></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

  <%= form_tag({:controller => 'users', :action => 'admin_change_password'}, :autocomplete=>"off" , :method => :put) do %>

    <%= collection_select(:User, :id, User.order(:email), :id, :email,
                             {:prompt => false}, {:id => 'collection_select',:size => 10}) %>

    <!-- select("user", "id", User.order(:email).collect {|p| [ p.email, p.id ] },
              {:include_blank => t('general.none')}, {:id => "select_box"}) -->

    <br /><br />
    <div class="password_field">
      <b><%= label_tag :password, t('general.password') %></b> <br />
      <%= password_field_tag :password %>
    </div>
    <br />
    <div class="password_field">
      <b><%= label_tag :password_confirmation, t('general.password_confirmation') %></b> <br />
      <%= password_field_tag :password_confirmation %>
    </div>
  <br />
  <%= submit_tag t('general.change_password') %>
      <% end  %>
      <br /> <br />
  <%= link_to t('general.main_list'),root_path, { :class=>"root"} %>
</div>

<br />
<br />
<%= link_to t('general.admin'), admin_users_path %>