
<div class="users">

<% if @admin_type1 == 'destroy' || @admin_type2 ='delete' %>

  <%= form_tag({:controller => 'users', :action => 'destroy'}, :method => :delete, :class => 'delete_form_tag') do %>
    <% @user.each do |user| %>
        <% unless current_user.email == user.email %>
            <ul>
              <li>
                <%= user.email %>
                <%= check_box_tag "users[]", user.id, false %>
              </li>
            </ul>
        <% end %>
    <% end  %>
    <br />
    <%= submit_tag t('general.remove'), :class => "confirm_button"%>
    <%= hidden_field_tag :page, params[:page] %>
    <br /> <br />
  <% end %>

<% else %>

  <% @user.each do |user| %>
    <ul>
      <li>
        <%= link_to user.email, admin_update_user_interface_users_path(:user => user.id),
                                            {:class => "user_email_link_in_admin_manage"}%>
      </li>
    </ul>
  <% end %>
<% end %>

  <br /> <br />
  <%= will_paginate_with_i18n(@user) %>
  <br /> <br /><br /> <br /><br /> <br />
  <%= link_to t('general.main_list'),root_path, { :class=>"root"} %>
  <br />
  <br />
  <br />
  <br />
  <%= link_to t('general.link_to.admin'), admin_users_path %>
</div>

<div id="dialog-confirm" title="<%= t('general.delete') %>" style="display: none">
  <p>
      <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0">
      </span>
    <%= t('general.permanent') %>
  </p>
</div>

