<div class='admin_page'>
<%= link_to t('admin.show_users'), users_path %>
<br />
<%= link_to t('admin.edit_user_job'), admin_manage_users_path, :class => "manage" %>
<br />
<%= link_to t("admin.delete_users"), admin_manage_users_path, :class => "delete" %>
<br />
<%= link_to t("admin.add_users"), new_user_path %>
<br />
<%= link_to t("admin.change_password"), admin_edit_user_users_path %>
<br />
<br />

  <%= link_to t('general.main_list'),root_path, { :class=>"root"} %>
</div>