<div class='admin_page'>
<%= link_to "Show Users", users_path %>
<br />
<%= link_to "Manage Users", admin_manage_path, :class => "manage" %>
<br />
<%= link_to "Delete Users", admin_manage_path, :class => "delete" %>
<br />
<%= link_to "Add Users", new_user_path %>
<br />
<%= link_to "Change Password", admin_edit_user_path %>
<br />
<br />

  <%= link_to t('general.main_list'),root_path, { :class=>"root"} %>
</div>