<div class="users">
 <%= form_tag({:controller => 'users', :action => 'destroy'}, :method => :delete, :remote => true, :class => 'delete_form_tag') do %>
    <% @user.each do |user| %>
        <% unless current_user.email == user.email %>
            <ul>
              <li>
                <%= user.email %>
                <%= check_box_tag "users[]", user.id, false %>
              </li>
            </ul>
        <% end %>
    <% end  %>
    <br />
    <%= submit_tag t('general.remove'), :class => "confirm_button"%>
    <%= hidden_field_tag :page, params[:page] %>
    <%= hidden_field_tag :destroy, params[:manage] %>
    <br /> <br />
 <% end %>

   <%= will_paginate_with_i18n(@user) %>
  <br /> <br /><br /> <br /><br /> <br />
  <%= link_to t('general.main_list'),root_path, { :class=>"root"} %>
  <br />
  <br />
  <br />
  <br />
  <%= link_to t('general.link_to.admin'), admin_users_path %>
</div>

<div id="dialog-confirm" title="<%= t('general.delete') %>" style="display: none">
  <p>
      <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0">
      </span>
    <%= t('general.permanent') %>
  </p>
</div>