

<h2><%= t('general.new_user') %></h2>
<div class="menu">
  <% if !logged_in? %>
    <%= link_to t('general.login'), login_path %>
  <% end  %>
</div>
<%= render 'form' %>
<br />
<%= link_to t('general.link_to.back'), root_path %>

<br />
<br />
<br />

 <% if is_admin? %>
        <%= link_to t('general.admin'), admin_users_path %>
    <% end %>

<!-- if is_admin? %>
< link_to t('general.admin'), user_admin_path %>
< end -->
