<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @skill.title %>
</p>

<p>
  <b>Location:</b>
  <%= @skill.location %>
</p>

<p>
  <b>Reference:</b>
  <%= @skill.reference %>
</p>

<p>
  <b>Body:</b>
  <%= @skill.body %>
</p>

<p>
  <b>Published at:</b>
  <%= @skill.published_at %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
