<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <% if I18n.locale.to_s == "tr"  %>
    <%= favicon_link_tag('is.ico', :class=>"favicon") %>
  <% elsif I18n.locale.to_s == "en"  %>
    <%= favicon_link_tag('job.ico', :class=>"favicon") %>
  <% end %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag "application" %>


  <%= display_meta(:keywords => "iş ilanları,insan kaynakları,iş eleman arayanlar,eleman arayan,eleman alımı,eleman ilanları,yeni iş ilanları,eleman arıyorum, eleman ilanı,iş ilani,iş arama,kariyer,iş fırsatları,human resources,iş bul,jobs,eleman,personel",
                   :description => "yeni bir iş, en iyi eleman, kariyer, iş ilanı verme portalı. Referans vererek iş ilanı verme. İş arıyorum diyenlerin iş sitesi.") %>
  <%= csrf_meta_tags %>

  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>-->

  <script type="text/javascript" language="JavaScript">
      function setFocus(){
          if (document.getElementById('token-input-search_form_text_field'))
          {
            document.getElementById('token-input-search_form_text_field').focus();
          }
      }
  </script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43483760-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</head>
<body onload="setFocus()">

<div class="set_locale" style="display: none;"><%= I18n.locale %></div>

<div id="main">

  <div id='notice'>
    <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
  </div>

  <!-- content_tag :p, notice, :class => 'notice' if notice.present?
   content_tag :p, alert, :class => 'alert' if alert.present? -->

  <%= yield %>

</div>
<div id="footer">
  isgetir.com / <%= mail_to('guneybilen@gmail.com', 'Email Admin', :encode => 'hex') %> /
  <% if logged_in? && is_admin? %>
    <%= link_to 'Admin Exit', logout_path %>
  <% else %>
    <%= link_to 'Admin Entrée', login_path %>
  <% end %>
</div>

<br /><br /><br />
</body>
</html>