<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag "application" %>

  <%= display_meta(:keywords => "iş ilanları,insan kaynakları,iş eleman arayanlar,eleman arayan,eleman alımı,eleman ilanları,yeni iş ilanları,eleman arıyorum, eleman ilanı,iş ilani,iş arama,kariyer,iş fırsatları,human resources,iş bul,jobs,eleman,personel",
                   :description => "yeni bir iş, en iyi eleman, kariyer, iş ilanı verme portalı. Referans vererek iş ilanı verme. İş arıyorum diyenlerin iş sitesi.") %>
  <%= csrf_meta_tags %>

  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>-->

  <script type="text/javascript" language="JavaScript">
      function setFocus(){
          if (document.getElementById('search_form_text_field'))
          {
            document.getElementById('search_form_text_field').focus();
          }
      }
  </script>

</head>
<body onload="setFocus()">

<div class="set_locale" style="display: none;"><%= I18n.locale %></div>

<div id="main">

  <div id='notice'>
    <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
  </div>

  <!-- content_tag :p, notice, :class => 'notice' if notice.present?
   content_tag :p, alert, :class => 'alert' if alert.present? -->

  <%= yield %>

</div>
<div id="footer">
  isgetir.com / <%= mail_to('guneybilen@gmail.com', 'Email Admin', :encode => 'hex') %> /
  <% if logged_in? && is_admin? %>
    <%= link_to 'Admin Exit', logout_path %>
  <% else %>
    <%= link_to 'Admin Entrée', login_path %>
  <% end %>
</div>

<br /><br /><br />
</body>
</html>